{% load static %}

<html>

<head>
    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'main/css/bootstrap3.min.css' %}" rel="stylesheet">
    <style>
        .row {
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
        }

        .row>div {
            -webkit-box-flex: 1;
            -webkit-flex: 1;
    
        }

        .receipt {
            background-position: center;
            background-size: cover;
            background-image: url("{% static 'main/img/favicon.png' %}");
            background-repeat: no-repeat;
            background-size: 450px;
            backface-visibility: hidden;

            align-items: center;
            width: 1000px;
            margin: 0;

            padding: 0px 10px;
            margin-top: 40px;

            box-shadow: inset 0 0 0 50vw rgba(245, 243, 244, 0.733)
        }

        .heading {
            display: flex;
            display: -webkit-box;
            display: -webkit-flex;
            align-items: end;
            justify-content: space-between;
        }

        .parties-info {
            display: flex;
            display: -webkit-box;
            display: -webkit-flex;
            align-items: end;
            justify-content: space-between;
            margin-top: 50px
        }

        .justify-right {
            align-items: end;
            justify-items: right;
        }

        h4 {

            font-size: 18px;
        }

        .shipping-details {
            border-radius: 0px;

        }



        tr,
        table,
        td {
            border: solid;
            border-width: 2px 1px;
            padding: 5px 7px;
            column-rule: solid rgb(0, 0, 0);
            


        }

        th {
            padding: 5px 7px;
        }

        tr:first-child,
        td:first-child {
            border-radius: 0px;
        }

        td div:first-child{
            margin-top: 10px;
        }

        td div {
            padding-bottom: 10px;
        }

        td div:last-child {
            padding-bottom: 0px;
        }



        .shipping-info {
            margin-top: 50px
        }

        .td-label {
            font-size: 13px;
        }

        .td-data {
            display: inline-block;
            font-size: 18px;
            padding-top: 10px;
        }
    </style>



</head>

<body>

    <div class="receipt">
        <div class="heading">
            <div>
                <img style="width:auto;height: 70px;" src="{% static 'main/img/logo-light.png' %}" alt="">

            </div>
            <div style="width:420px;border-radius: 10px;box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;">
               <div style="font-size : 20px; padding-top: 15px; text-align: center; background-color: #ff3e41;border-radius: 10px  10px 0 0;height: 50px;color: white;" >
                    TITANS EXPRESS LOGISTICS
               </div>
               <div style="background-color: #087e8b;font-size: 13px; padding: 15px 10px 0px 10px; text-align: center;border-radius: 0 0 10px 10px;height: 50px;color: white;" >
                 Contact Support: {{site_phone}}, Email: {{site_email}}
               </div>

            </div>
            <div style="border: 2px solid #087e8b;border-radius: 10px;padding:8px 10px">
                <h2><span></span>{{shipment.destination_code}}</h2>
                <!--h5 class="mt-0">Date: {{shipment.receipt_date|date:"d, M, Y"}}</h5-->
            </div>

        </div>
      
      
        <table class="border" style="margin-top: 30px;width: 100%;">
            <thead style="background-color: #087e8b;color: white;height: 40px;">
                <th >
                    Date
                </th>
                <th >
                    Issuing Officer
                </th>
                <th >
                    Destination Code
                </th>
                <th>
                    Account Number
                </th>
                <th >
                    NO. OF PIECES
                </th>
                <th >
                    Gross Weight
                </th>

            </thead>

            <tbody>
                <tr style="height: 50px;">
                    <td class="">
                       {{shipment.receipt_date|date:"d/m/Y"}}
                    </td>
                    <td class="">
                        {{shipment.issuing_officer}}
                     </td>
                     <td class="">
                        {{shipment.destination_code}}
                     </td>
                     <td class="">
                        CASH
                     </td>
                     <td class="">
                        {{shipment.no_of_pieces}}
                     </td>
                     <td class="">
                        {{shipment.weight}}Kg
                     </td>
                </tr>
            </tbody>
        </table>


        <table class="border" style="margin-top: 30px;width: 100%">
            <thead style="background-color: #087e8b;color: white;height: 40px;">
                <th >
                    Sender Info
                </th>
                <th >
                    Receiver Info
                </th>
                <th >
                    Staff Accepting Co.
                </th>
                <th >
                  Agent Delivering Co.
                </th>
            </thead>
            <tbody>
                <tr style="height: 50px;">
                    <td class="">
                        <div>Name: {{shipment.sender_name}}</div>
                        <div>phone: {{shipment.sender_phone_number}}</div> 
                        <div>Address: {{shipment.sender_address}}</div>
                    </td>
                    <td class="">
                        <div>Name: <br>{{shipment.receiver_name }}</div><br></div>
                        <div>phone: {{shipment.receiver_phone_number }}</div> 
                        <div>Address: {{shipment.receiver_address}}</div>
                    </td>
                    <td class="">
                        <div>Name: <b>{{shipment.name_of_staff_accepting_consignment }}</b></div>
                        <div>Signature: {{shipment.receiver_phone_number }}</div> 
                       
                    </td>
                    <td class="">
                        <div>Name: <b>{{shipment.name_of_agent_delivering_consignment }}</b></div>
                        <div>Signature: {{shipment.receiver_phone_number }}</div> <br>
                       
                    </td>
                </tr>
            </tbody>
        </table>

       

        <div class="shipping-info" style="padding-left: 5px;">
            <div class="row">
                <div class="col-7">
                    <h4>Package Details</h4>
                    <div class="shipping-details ">
                        <table class="border">


                            <tbody>
                                <tr>
                                    <td class="">
                                        <span class="td-label">Package name</span>
                                        <br>
                                        <span class="td-data">{{shipment.package_name}}</span>
                                    </td>
                                    <td>
                                        <span class="td-label">Weight</span>
                                        <br>
                                        <span class="td-data">{{shipment.weight}}Kg</span>
                                    </td>
                                    <td>
                                        <span class="td-label">No. of Pieces</span>
                                        <br>
                                        <span class="td-data">{{shipment.no_of_pieces }}</span>
                                    </td>

                                </tr>
                                <tr>
                                    <td class="">
                                        <span class="td-label">Tracking Number</span>
                                        <br>
                                        <span class="td-data">{{shipment.tracking_number}}</span>
                                    </td>
                                    <td>
                                        <span class="td-label">Attending Officer</span>
                                        <br>
                                        <span class="td-data">{{shipment.name_of_staff_accepting_consignment}}</span>
                                    </td>
                                    <td>


                                        <span class="td-data">
                                            <img style="width:auto;height: 90px;" src="{% static 'main/img/seal.png' %}"
                                                alt="">
                                        </span>
                                    </td>

                                </tr>

                            </tbody>

                        </table>
                    </div>

                    <h4 style="margin-top: 50px;">Shipping Details</h4>
                    <div class="shipping-details  ">

                        <table class="border">


                            <tbody>
                                <tr>
                                    <td class="">
                                        <span class="td-label">Origin</span>
                                        <br>
                                        <span class="td-data">{{shipment.source_country}}</span>
                                    </td>
                                    <td>
                                        <span class="td-label">Address</span>
                                        <br>
                                        <span class="td-data">{{shipment.source_address}}</span>
                                    </td>
                                    <td>
                                        <span class="td-label">Departure Date</span>
                                        <br>
                                        <span
                                            class="td-data">{{shipment.estimated_departure_date|date:"d, M, Y"}}</span>
                                    </td>


                                </tr>
                                <tr>
                                    <td class="">
                                        <span class="td-label">Destination</span>
                                        <br>
                                        <span class="td-data">{{shipment.destination_country}}</span>
                                    </td>
                                    <td>
                                        <span class="td-label">Address</span>
                                        <br>
                                        <span class="td-data">{{shipment.destination_address}}</span>
                                    </td>
                                    <td>
                                        <span class="td-label">Expected Date Of Arrival</span>

                                        <br>
                                        <span class="td-data">{{shipment.estimated_arrival_date|date:"d, M, Y"}}</span>
                                    </td>

                                </tr>

                            </tbody>

                        </table>
                    </div>



                </div>
                <div class="col-5">
                    <h4>Payment</h4>
                    <div class="shipping-details mt-4 ">

                        <table class="border">

                            <thead  >
                                <th style="padding: 10px">Charge</th>
                                <th style="padding: 10px">Amount(USD)</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="">
                                        Basic Charges
                                    </td>

                                    <td>
                                        <b>{{shipment.shipment_fee}}</b>


                                    </td>

                                </tr>

                                <tr>
                                    <td class="">
                                        Insurance Fee
                                    </td>

                                    <td>
                                        <b>{{shipment.insurance_fee}}</b>


                                    </td>

                                </tr>
                                <tr>
                                    <td class="">
                                        Tax
                                    </td>

                                    <td>
                                        <b>{{shipment.tax_fee}}</b>


                                    </td>

                                </tr>
                                <tr>
                                    <td class="">
                                        VAT
                                    </td>

                                    <td>
                                        <b>{{shipment.vat_fee}}</b>


                                    </td>

                                </tr>

                                <tr>
                                    <td class="">
                                        Additional Charges
                                    </td>

                                    <td>
                                        <b>{{shipment.additional_fee}}</b>


                                    </td>

                                </tr>
                                <tr>
                                    <td class="">
                                        TOTAL
                                    </td>

                                    <td>
                                        <b>{{shipment.total_fee}}</b>


                                    </td>

                                </tr>

                            </tbody>

                        </table>
                    </div>
                    <div class="mt-4">
                        <h6 style="font-weight: 400;">Payment Status
                            <span
                                style="font-weight: 500;;margin-left: 20px;font-size: 20px;">{{shipment.payment_status}}</span>
                        </h6>
                        <h6 style="font-weight: 400;">Payment Details
                            <span
                                style="font-weight: 500;;margin-left: 20px;font-size: 20px;">{{shipment.payment_detail}}</span>
                        </h6>
                    </div>
                </div>
            </div>

        </div>


        <div style="margin-top: 60px;">
            <h5>Sender Authorization and Signature</h5>
            <p>We agree that {{site_name}} standard apply to this cargo system and limit {{site_name}} liability.</p>
            <span> Signature:

                <img style="width:auto;height: 40px;margin-left: 20px;" src="{% static 'main/img/signature.png' %}"
                    alt="">

            </span>
        </div>



    </div>




</body>

</html>